header   
    .container 
        .header__row 
            a(href="#").logo
            nav.navigation 
                ul 
                    li.navigation__item.active
                        a(href="#") О нас
                    li.navigation__item.services
                        .services__wrapper
                            a(href="#") 
                                span Услуги
                                svg(width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#1F2041" fill-opacity="0.5")
                            ul.services__container
                                li.services__item
                                    a(href='#') Услуга 1
                                li.services__item 
                                    a(href='#') Услуга 2 
                                li.services__item
                                    a(href='#') Услуга 3
                    li.navigation__item
                        a(href="#") Вакансии
                    li.navigation__item
                        a(href="#") Новости
                    li.navigation__item.agre
                        .agre__wrapper 
                            a(href="#") 
                                span Соглашения
                                svg(width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#1F2041" fill-opacity="0.5")
                            ul.agre__container
                                li.agre__item 
                                    a(href='#') Соглашения 1 
                                li.agre__item 
                                    a(href='#') Соглашения 2
                                li.agre__item 
                                    a(href='#') Соглашения 3
                .enter
                    a(href='#') Войти
                .register 
                    a(href='#') Зарегистрироваться
                   
        .burger-menu 
            .burger-menu__button
                span.burger-menu__lines 
            .burger-menu__list
                ul 
                    li.navigation__item.active
                        a(href="#") О нас
                    li.navigation__item.services
                        .services__wrapper
                            a(href="#") 
                                span Услуги
                                svg(width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#1F2041" fill-opacity="0.5")
                            //- ul.services__container
                            //-     li.services__item
                            //-         a(href='#') Услуга 1
                            //-     li.services__item 
                            //-         a(href='#') Услуга 2 
                            //-     li.services__item
                            //-         a(href='#') Услуга 3
                    li.navigation__item
                        a(href="#") Вакансии
                    li.navigation__item
                        a(href="#") Новости
                    li.navigation__item.agre
                        .agre__wrapper 
                            a(href="#") 
                                span Соглашения
                                svg(width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg")
                                    path(d="M10.5938 0.578125L12 1.98438L6 7.98438L0 1.98438L1.40625 0.578125L6 5.17188L10.5938 0.578125Z" fill="#1F2041" fill-opacity="0.5")
                            //- ul.agre__container
                            //-     li.agre__item 
                            //-         a(href='#') Соглашения 1 
                            //-     li.agre__item 
                            //-         a(href='#') Соглашения 2
                            //-     li.agre__item 
                            //-         a(href='#') Соглашения 3
                .enter
                    a(href='#') Войти
                .register 
                    a(href='#') Зарегистрироваться