header   
    .container 
        .header-row 
            .header-column
                .logo 
            .header-column 
                nav 
                    ul
                        li
                            a(href="#") О нас
                        li
                            a(href="#") Услуги >
                        li
                            a(href="#") Вакансии
                        li
                            a(href="#") Новости
                        li
                            a(href="#") Соглашения >
                        li
                            a(href="#") Войти 
                        li
                            a(href="#") Зарегистрировться
