header   
    .container 
        .header__row 
            a(href="#").logo
            nav.navigation  
                ul
                    li.navigation__item.active
                        a(href="#") О нас
                    li.navigation__item
                        a(href="#") Услуги >
                    li.navigation__item
                        a(href="#") Вакансии
                    li.navigation__item
                        a(href="#") Новости
                    li.navigation__item
                        a(href="#") Соглашения >
                    .enter
                        a(href='#') Войти
                    .register 
                        a(href='#') Зарегистрировться
                    
