@import '~normalize.css';
@import 'fonts.css';

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

h1 {
    font-size: 33px;
}

.backgrnd {
    background-image: url('../img/Among\ Trees\ campsite\ 1920x1080.jpg');
    height: 300px;
}