extends ../layout/main

block variables 
    - var title = "Toxin"
    - var isAuth = true


block content
    .search-numbers 
        .search-numbers_container 
            .search-numders__form 
                h1.search-numbers__form.title Найдём номера под ваши пожелания
                .search-numbers__form.content Контент

        p.description Лучшие номера для вашей работы, отдыха и просто вдохновения