extends ../layout/main

block variables 
    - var title = "Toxin"
    - var isAuth = false


block content
    section 
        .container 
            h1 Jade - node template engine
            |
            |
            a(href="#") A-1
            |
            |
            a(href="#") A-2
            |
            |
            a(href="#") A-3